{% extends 'layout/layoutProjet.html.twig' %}
{% block title %} {{ recette.nomRecette }} {% endblock %}
{% block body %}

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog  modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Ajouter des Photos</h4>
                </div>
                <div class="modal-body">

                    <div  class="dropzone" id="carte" style="box-shadow:none;border-style:dashed;">
                        <div class="dz-message" data-dz-message>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

             <section class="container">



                <div class="pub-h">

                    <img src="{{ asset('dist/img/banner-exemple2.jpg') }}" class="img-responsive">



                </div>



            </section>

    <div class="container outerWrapper" ng-app="myAppDetails" ng-controller="recetteDetailsController">

        <div class="col-md-3 menu-left menu-left-etab">

            <!-- right column (268px) -->



            <h3 class="menu-left-heading">

                <img src="{{ asset('dist/img/ing.png') }}" alt="">

                Ingrédients

            </h3>





            <section class="numerotel">



                <div class="row center-block">

                    <div class="col-xs-12 text-left" >

                        {{ recette.descriptionIngredientRecette|raw }}

                    </div>

                </div>



            </section>





            <h3 class="menu-left-heading"><img src="{{ asset('dist/img/preparation.png') }}" alt="">  Préparation  </h3>





            <section class="adress-etbl">



                <div class="row center-block">

                    <div class="col-xs-12">

                        <p>{{ recette.preparationRecette }}</p>

                    </div>

                </div>



            </section>





            <h3 class="menu-left-heading"><img src="{{ asset('dist/img/cuisson.png') }}" alt="">  Cuisson </h3>

            <section class="adress-etbl">

                <p style="">

                    <p>{{ recette.cuissonRecette }}</p>

                </p>



            </section>



            <h3 class="menu-left-heading"><img src="{{ asset('dist/img/difu.png') }}" alt="">  Difficulté </h3>

            <section class="adress-etbl">

                <p style="">

                    <p>{{ recette.difficulte }}</p>

                </p>



            </section>



            <h3 class="menu-left-heading"><img src="{{ asset('dist/img/prix.png') }}" alt="">  Prix </h3>

            <section class="adress-etbl">

                <p style="">

                    <p>{{ recette.prix }}</p>

                </p>



            </section>



            <h3 class="menu-left-heading"><img src="{{ asset('dist/img/subcategorie-ico.png') }}" alt="">  Subcategories  </h3>

            <section class="adress-etbl">

                {% for rec in recette.subcategorie %}

                    <p style="">

                        <p> {{ rec.nomSubCategorie }}</p>

                    </p>

                {% endfor %}



            </section>





            <section>



                <div class="row">

                    <p style="text-align:center; margin-top:50px;">

                        <b ng-click="getAppr()">Partager sur :</b>

                    </p>

                    <p style="margin:0 auto;">

                    <ul class="list-inline center-block text-center">

                        <li> <a href="#" alt="fb">

                                <img src="{{ asset('dist/img/facebook.png') }}" class="img-responsive" width="32" height="32" alt=""> </a>

                        </li>

                        <li> <a href="#" alt="tw">

                                <img src="{{ asset('dist/img/twitter.png') }}" class="img-responsive" width="32" height="32" alt=""> </a>

                        </li>

                        <li> <a href="#" alt="gl">

                                <img src="{{ asset('dist/img/google-plus.png') }}" class="img-responsive" width="32" height="32" alt=""> </a>

                        </li>

                        <li> <a href="#" alt="pr">

                                <img src="{{ asset('dist/img/pinterest.png') }}" class="img-responsive" width="32" height="32" alt=""> </a>

                        </li>

                    </ul>

                    </p>

                </div>

            </section>

            <section class="block-spnsirise center-block text-center">



                <div class="pub">

                    <img src="{{ asset('dist/img/banner-exemple.jpg') }}" class="img-responsive">



                </div>



            </section>











        </div> <!-- menu-left -->










        <div class="col-md-6 center-content">


            <section class="article-principal">

                <h1 class="center-block text-center"> {{ recette.nomRecette }} </h1>
                <input type="hidden" value="{{ recette.nomRecette }}" id="nomRecette">
                <input type="hidden" value="www.troisfourchettes.com/recette/details/{{ recette.id }}" id="linkRecette">
                <input type="hidden" value="{{ asset('http://www.troisfourchettes.com/'~recette.image.WebPath) }}" id="pictureRecette">
                <input type="hidden" value="{{ recette.descriptionRecette|raw }}" id="descRecette">




                <!-- buttons -->

                <div class="row">

                    <div class="col-md-8">

                        <div class="btn-single-gr center-block">



                            {% for th in recette.theme %}



                                    <a class="btn-single" ng-click="redirectRecette({{ th.id }})">{{ th.nomTheme }}</a>



                            {% endfor %}

                        </div>

                    </div>

                    <div class="col-md-4">

                                 {% if(app.user) %}

                                     <span class="fileselector">
                                          <label class="add-photo" for="upload-file-selector" data-toggle="modal" data-target="#myModal">

                                              <i class="glyphicon glyphicon-camera margin-correction"></i>Ajouter des photos*
                                          </label>
                                      </span>
                                 {% else %}

                                     <span class="fileselector" ng-click="toastrAddTof()">
                                         <label class="add-photo" for="upload-file-selector">

                                             <i class="glyphicon glyphicon-camera margin-correction"></i>Ajouter des photos*

                                         </label>
                                     </span>

                                 {% endif %}

                    </div>

                </div>





                <div class="row center-block text-center">
                    <div id="rankRecette" style="display: none">
                    <div class="col-md-3">


                            <div id="famaVote" ng-hide="nbrVoteForThisRecette==0">

                                <div class='starrr' ng-click="openModalVote({{ recette.id }})">

                                    <a href=""  ng-class="{'fa fa-star': 1<=noteForThisRecette,'fa-star-o fa':1>noteForThisRecette}" style="margin-right:-5px"></a>
                                    <a href="" ng-class="{'fa fa-star': 2<=noteForThisRecette,'fa-star-o fa':2>noteForThisRecette}" style="margin-right:-5px"></a>
                                    <a href="" ng-class="{'fa fa-star': 3<=noteForThisRecette,'fa-star-o fa':3>noteForThisRecette}" style="margin-right:-5px"></a>
                                    <a href="" ng-class="{'fa fa-star': 4<=noteForThisRecette,'fa-star-o fa':4>noteForThisRecette}" style="margin-right:-5px"></a>
                                    <a href="" ng-class="{'fa fa-star': 5<=noteForThisRecette,'fa-star-o fa':5>noteForThisRecette}"></a>
                                </div>

                            </div>




                            <div id="famechVote" ng-show="nbrVoteForThisRecette==0">


                                <div class='starrr' ng-click="openModalVote({{ recette.id }})">

                                    <a href="" class="fa fa-star-o" style="margin-right:-5px"></a>
                                    <a href="" class="fa fa-star-o" style="margin-right:-5px"></a>
                                    <a href="" class="fa fa-star-o" style="margin-right:-5px"></a>
                                    <a href="" class="fa fa-star-o" style="margin-right:-5px"></a>
                                    <a href="" class="fa fa-star-o"></a>
                                </div>

                            </div>





                    </div>

                    <div class="col-md-3" >

                        <div class="votes-sr"># 2*noteForThisRecette# /10 (# nbrVoteForThisRecette # votes )</div>

                    </div>



                    <div class="col-md-6 price">

                        <p class="price-sc">{{ recette.prix }}</p>

                    </div>
                    </div>
                </div>





                <p>



                    <a class="fancybox img-responsive center-block text-center" rel="group" href="{{ asset(recette.image.WebPath) }}" alt="single article">

                        <img class="img-responsive" src="{{ asset(recette.image.WebPath) }}" alt="single article">

                        <span class = "loop"></span>

                    </a>




                <div  class="hidden">
                    {% for photorecette in recette.photos %}
                        <a class="fancybox" href="{{ asset(photorecette.webPath) }}" rel="group"></a>
                    {% endfor %}

                </div>

                </p>

                <p>

                    {{ recette.descriptionRecette|raw }}

                </p>

                <!-- social -->



            </section>

            <section>

                <article class="row exprimezVous exprimPublied thePost">



                    <!-- ------------------------------- -->

                    <div class="postInformations">

                        <div class="row">

                            <div class="col-xs-4">



                            </div>

                            <div class="col-xs-8">

                                <!-- rating -->

                                <ul class="list-inline infstats">

                                    <li>

                                        <a href="#">

                                            <img src="{{ asset('dist/img/likeInfIco.png') }}" alt=""> <span class="likeStat">#nbrLikes#</span>

                                        </a>

                                    </li>

                                    <li>

                                        <span class="barSeapara">|</span>

                                    </li>

                                    <li>

                                        <a href="#">

                                            <img src="{{ asset('dist/img/disLikeInfIco.png') }}" alt=""> <span class="disLikeStat">#nbrDisLikes#</span>

                                        </a>

                                    </li>

                                    <li>

                                        <span class="barSeapara">|</span>

                                    </li>

                                    <li>

                                        <a href="#">

                                            <img src="{{ asset('dist/img/commentInfIco.png') }}" alt=""> <span class="commentStat">#nbrTotalcomments#</span>

                                        </a>

                                    </li>

                                    <li>

                                        <span class="barSeapara">|</span>

                                    </li>

                                    <li>

                                        <a href="#">

                                            <img src="{{ asset('dist/img/shareInfIco.png') }}" alt=""> <span class="shareStat">5</span>

                                        </a>

                                    </li>

                                </ul>

                            </div>

                        </div>

                    </div>



                    <ul class="list-inline postUtilities postUtilities-online" >
                        {% if app.user %}

                            <span id="ChargeAppr" style=" display: block">
                            <h4>Spinner Chargement En cours...</h4>
                            </span>
                            <span id="appr" style=" display: none">

                                                    <li>

                                                        <a class="likeBtn" ng-click="aime({{ recette.id }})"> <img ng-src="#shownAime#" alt="" > J’aime </a>

                                                    </li>

                        <li>




                            <a class="dislikeBtn" ng-click="aimepas({{ recette.id }})"> <img ng-src="#shownAimePas#" alt=""> J’aime pas </a>






                        </li>

                        <li>

                            <a href="" ng-click="goToCommenter()" class="cmtBtn"> <img src="{{ asset('dist/img/online-cmtBtn.png') }}" alt=""> Commenter </a>

                        </li>

                        <li>

                            <a id="share_button" class="shareBtn"> <img src="{{ asset('dist/img/online-shareBtn.png') }}" alt=""> Partage </a>

                        </li>



                        </span>


                        {% else %}

                            <span id="ChargeAppr"></span>
                            <span id="appr"></span>

                        {% endif %}
                    </ul>

                    <h4 class="title-owl text-center"> Voir aussi... </h4>



                    <div id="owl-demo">

                        {% for rt in voirRecetteByTheme %}

                            <div  class="item"><a href="#"><img src="{{ asset(rt.image) }}" alt="Owl Image" style="height: 150px;"><p>{{ rt.nom[:15] }}</p></a></div>

                        {% endfor %}



                    </div>


                    <div id="chargementComments" style="display: block">
                        Chargement en cours . . .
                    </div>

                    <div id="commentsList" style="display: none" class="showComment">


                            <div class="col-lg-6">
                                <a href="" ng-click="moreComments()" id="afficherplus" style="display: block;"><h5>afficher les commentaires précédents</h5></a>
                            </div>
                            <div class="col-lg-6">
                                <img id="loadingComments" style="display:none" src="{{ asset('dist/img/loadingComments.gif') }}" alt="loading...">
                            </div>


                        <br>

                        <div class="media" ng-repeat="comment in commentsToShow">

                            <div class="media-left">

                                <a href="#">
                                    <img src="#comment.image#" height="50px" width="50px" class="media-object" alt="Sample Image">

                                </a>

                            </div>

                            <div class="media-body">
                                <span id="btnDell#comment.commentId#" class="pull-right" style="color:red" ng-show="comment.deletable" ng-click="deleteComment(comment.commentId)">x</span>
                                <span id="spinDell#comment.commentId#" class="pull-right" style="color:Blue;display:none" ng-show="comment.deletable">O</span>
                                <h4 class="media-heading">#comment.nomClient#</h4>

                                <p>#comment.commentText#</p>

                            </div>

                        </div>

                        {% if app.user %}
                            <form class="form-inline center-block text-center">
                                <textarea id="commentToSend" style="width:100%" class="form-control inputAddComment" placeholder="Ajouter un commentaire..."></textarea>
                                <!-- <input type="submit" class="btn-commenter-online pull-right" value="commenter">   -->
                            </form>
                        {% endif %}
                        {% if app.user %}
                            <p class="theLast">
                                <img src="{{ asset('dist/img/exclamtionPoint.png') }}" alt="exc">
                                <span>
                                  Ecrire un commentaire, utiliser @ pour taguer des amis
                                </span>
                            </p>
                        {% else %}
                            <p class="theLast">
                                <img src="{{ asset('dist/img/exclamtionPoint.png') }}" alt="exc">
                                <span>
                                  Veuillez <a href="{{ path('fos_user_security_login') }}">se connecter</a> pour pouvoir commenter !
                                </span>
                            </p>
                        {% endif %}



                    </div>

                    <!-- ------------------------------- -->

                </article>



            </section>



        </div>  <!-- center-content -->





        <div class="col-md-3 menu-right">

            <!-- right column (268px) -->









            <section class="block-spnsirise center-block text-center">



                <div class="pub">

                    <img src="{{ asset('dist/img/banner-exemple.jpg') }}" class="img-responsive">



                </div>



            </section>











            <h3 class="menu-right-heading"><img src="{{ asset('dist/img/m-n1.png') }}" alt="">  Mieux Noté </h3>


            <div id="loadingMostRanked">
                <h5>loading...</h5>
            </div>
            <section id="MostRanked" style="display: none;">



                <div class="row img-proximite" ng-repeat="mrr in mostRankedRecettes">



                    <div class="col-xs-5">

                        <a href="#mrr.id#"><img ng-src="#mrr.image#" style="height: 100px;width: 100px;" alt="prox"></a>

                    </div>

                    <div class="col-xs-7">



                        <div class="name">#mrr.recette#</div>

                        <div class="note">#2*mrr.note#/10 (#mrr.nbrVote# votes )</div>

                        <!-- rating -->


                        <div class='starrr'>

                            <a href=""  ng-class="{'fa fa-star': 1<=mrr.note,'fa-star-o fa':1>mrr.note}" style="margin-right:-5px"></a>
                            <a href="" ng-class="{'fa fa-star': 2<=mrr.note,'fa-star-o fa':2>mrr.note}" style="margin-right:-5px"></a>
                            <a href="" ng-class="{'fa fa-star': 3<=mrr.note,'fa-star-o fa':3>mrr.note}" style="margin-right:-5px"></a>
                            <a href="" ng-class="{'fa fa-star': 4<=mrr.note,'fa-star-o fa':4>mrr.note}" style="margin-right:-5px"></a>
                            <a href="" ng-class="{'fa fa-star': 5<=mrr.note,'fa-star-o fa':5>mrr.note}"></a>
                        </div>



                    </div>

                </div>








            </section>




        </div>



        <!-- Modal -->
        <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">

                    <div class="modal-body">
                        {% if app.user %}
                            <div id="partieVote" style="display: block">
                                <div class='starrr star1'>
                                    <a href="" ng-click="voter(1)"  class="fa fa-star-o" style="margin-right:-5px"></a>
                                    <a href="" ng-click="voter(2)" class="fa fa-star-o" style="margin-right:-5px"></a>
                                    <a href="" ng-click="voter(3)" class="fa fa-star-o" style="margin-right:-5px"></a>
                                    <a href="" ng-click="voter(4)" class="fa fa-star-o" style="margin-right:-5px"></a>
                                    <a href="" ng-click="voter(5)" class="fa fa-star-o"></a>

                                </div>
                                <div id="messagePartieVote"></div>
                                <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                            </div>
                            <div id="chargementPartieVote" style="display: none">
                                <h4>Vote En Cours...</h4>
                            </div>

                        {% else %}
                            <h2>Vous devez se connecter pour pouvoir voter</h2>
                        {% endif  %}
                    </div>
                </div>
            </div>
        </div>








    </div>

{% endblock %}

{% block javascripts %}
        <div id="fb-root"></div>
        <script>
        window.fbAsyncInit = function() {
            FB.init({appId: '1690542801267629', status: true, cookie: true,
                xfbml: true});
        };
        (function() {
            var e = document.createElement('script'); e.async = true;
            e.src = document.location.protocol +
                    '//connect.facebook.net/en_US/all.js';
            document.getElementById('fb-root').appendChild(e);
        }());
    </script>
    <script type="text/javascript">
        $(document).ready(function(){
            $('#share_button').click(function(e){
                var nom = $('#nomRecette').val();
                var link = $('#linkRecette').val();
                var picture = $('#pictureRecette').val();
                var desc = $('#descRecette').val();
                e.preventDefault();
                FB.ui(
                        {
                            method: 'feed',
                            name: nom,
                            link: link,
                            picture: picture,
                            caption: 'Visitez notre site www.troisfourchettes.com',
                            description: desc,
                            message: "Note: Remember to replace YOUR APP ID with your facebook AppId. If you don't have facebook AppId and you don't know how to create please "
                        });
            });
        });
    </script>
    <script>


        var appDetails = angular.module('myAppDetails',[])
                .config(function($interpolateProvider){
                    $interpolateProvider.startSymbol('#').endSymbol('#');




                })
                .directive('loading', function () {
                    return {
                        restrict: 'E',
                        replace:true,
                        template: '<div class="loading"><img src="http://www.nasa.gov/multimedia/videogallery/ajax-loader.gif" width="20" height="20" />LOADING...</div>',
                        link: function (scope, element, attr) {
                            scope.$watch('loading', function (val) {
                                if (val)
                                    $(element).show();
                                else
                                    $(element).hide();
                            });
                        }
                    }
                });




        appDetails.controller('recetteDetailsController', function($scope,$http) {
            //$scope.disabledComment=false;
            var textAriaComment = document.getElementById('commentToSend');
            $scope.goToCommenter=function(){
                textAriaComment.scrollIntoView(true);
            }
            $scope.redirectRecette=function (idt) {

                localStorage.setItem('thmToFind',idt);
                window.location.replace("http://localhost/troisfourchettes/web/app_dev.php/recette/");
            }

            $scope.toastrAddTof = function () {
                toastr.warning('Vous devez <a href="http://localhost/troisfourchettes/web/app_dev.php/login">se connecter</a> pour pouvoir ajouter des photos','notification',2000);

            }


            $scope.idRecette="{{ recette.id }}";
            $scope.getThisAppreciation=function () {

                $scope.objAppr={
                    idr:$scope.idRecette
                };
                $http.post(Routing.generate('nbrLikeDislikeJSON'),$scope.objAppr)
                        .then(function(response) {
                            //console.log('repmta3 el appreciation');
                            //console.log(response.data);
                            $scope.nbrLikes=response.data.likes;
                            $scope.nbrDisLikes=response.data.dislikes;

                            //document.getElementById("rankRecette").style.display="block";

                        });


            }

            $scope.getThisAppreciation();

            $scope.getThisRank=function () {
                $scope.objRank={
                    idr:$scope.idRecette
                };
                $http.post(Routing.generate('rankOneRecetteJSON'),$scope.objRank)
                 .then(function(response) {
                     //console.log('rep');
                     //console.log(response.data[0].note);
                    $scope.noteForThisRecette=response.data[0].note;
                    $scope.nbrVoteForThisRecette=response.data[0].nbrVote;

                    document.getElementById("rankRecette").style.display="block";

                 });


            }

            $scope.getThisRank();



            $scope.openModalVote=function(id){


                {% if(app.user) %}
                $scope.idRecetteAvoter=id;
                $('#myModal2').modal('show');

                $('.star1').starrr();
                {% else %}
                toastr.warning('Vous devez <a href="http://localhost/troisfourchettes/web/app_dev.php/login">se connecter</a> pour pouvoir voter','notification',2000);
                {% endif %}
            }


            $scope.voter=function(NbrVote){
                document.getElementById("partieVote").style.display="none";
                document.getElementById("chargementPartieVote").style.display="block";
                document.getElementById("messagePartieVote").innerHTML="";
                $http.post(Routing.generate('Addrank', { id: $scope.idRecetteAvoter , type: "recette",nbr:NbrVote }))
                        .then(function(response) {
                            //console.log(response.data);
                            document.getElementById("partieVote").style.display="block";
                            document.getElementById("chargementPartieVote").style.display="none";
                            document.getElementById("messagePartieVote").innerHTML=response.data.success;

                            $scope.getThisRank();

                        }).then(function(response){


                    setTimeout(function(){
                        $('#myModal2').modal('hide');
                    },2000);
                });


            }



            $scope.trancheComment=1;

            $scope.mostRankedRecettes=[];


            $('#commentToSend').keydown(function (e){

                $scope.commentaire=document.getElementById("commentToSend").value;
                if((e.shiftKey) && (e.keyCode == 13)){
                    var newText= $(this).val() + '<br>';


                }
                else if((!e.shiftKey) && (e.keyCode == 13)){

                    if($scope.commentaire.trim().length === 0){
                        setTimeout(function(){
                            //document.getElementById('commentToSend').value="";
                            $('#commentToSend').val('');
                        },100);

                        }else{

                        setTimeout(function(){

                            $scope.objComment={
                                id:{{ recette.id }},
                                commentaire:$scope.commentaire,
                                type:"recette"
                            };

                            $('#commentToSend').val('');

                            document.getElementById("commentToSend").disabled = true;
                            //$scope.disabledComment=true;
                            //ne5dem bil getelementbyid.disabled

                            $http.post(Routing.generate('sendComment'),$scope.objComment)
                                    .then(function(response) {
                                        //console.dir($scope.objComment);
                                        document.getElementById("commentToSend").disabled = false;
                                    }).then(function(response){
                                        $scope.getComments();
                                    });


                        },10);




                    }

                }


            })



            $http.post(Routing.generate('mostRankedJSON'))
                    .then(function(response) {
                        $scope.mostRankedRecettes=response.data.result;

                        document.getElementById("loadingMostRanked").style.display="none";
                        document.getElementById("MostRanked").style.display="block";

                    });


            $scope.commentsToShow=[];
            $scope.getComments= function(){



                $scope.objToGetComments={
                    id:{{ recette.id }},
                    tranche:$scope.trancheComment,
                    type:"recette"
                }

                $http.post(Routing.generate('getComments'),$scope.objToGetComments)
                        .then(function(response) {
                            $scope.nbrTotalcomments=response.data.nbrTotal;
                            $scope.commentsToShow=response.data.comments;


                            document.getElementById("chargementComments").style.display="none";
                            document.getElementById("commentsList").style.display="block";


                            //console.log("nbrTotalMelBase: "+response.data.nbrTotal);
                            //console.log("nbr affiché: "+$scope.commentsToShow.length);
                            if(response.data.nbrTotal > $scope.commentsToShow.length){
                                document.getElementById("afficherplus").style.display="block";

                            }else{
                                document.getElementById("afficherplus").style.display="none";
                            }
                            document.getElementById('loadingComments').style.display="none";
                            /*$.each(response.data.comments, function (index, item) {

                                $scope.commentsToShow.push({
                                    commentId: item.commentId,
                                    commentText: item.commentText,
                                    commentDate: item.commentDate
                                });
                            })*/
                            /*if(response.data.comments.length== response.data.nbrTotal){
                                document.getElementById("afficherplus").style.display="none";
                                alert("el kol afiche");
                            }else{*/


                            //}



                        });

            }

            $scope.getComments();
            $scope.moreComments=function(){
                document.getElementById('loadingComments').style.display="block";
                $scope.trancheComment++;
                $scope.getComments();


            }

            $scope.deleteComment=function(idC){
                var idBtnToDell="btnDell"+idC;
                var idBtnSpinn="spinDell"+idC;

                document.getElementById(idBtnToDell).style.display="none";
                document.getElementById(idBtnSpinn).style.display="block";
                $scope.objDel={
                    id:idC,
                    type:"recette"
                }

                console.log('b3atht lel tafsi5');
                console.log($scope.objDel);


                $http.post(Routing.generate('deleteComment'),$scope.objDel)
                        .then(function(response) {

                        }).then(function(response){
                        $scope.getComments();

                        });
            }





            $scope.img='{{ asset('dist/img/likerouge.png') }}';
            $scope.img2='{{ asset('dist/img/online-likeBtn.png') }}';

            $scope.img1AimePas="{{ asset('dist/img/pnline-dislikeBtn.png') }}";
            $scope.img2AimePas="{{ asset('dist/img/deslikerouge.png') }}";

            $scope.recetteLiked=false;
            $scope.recetteNotLiked=false;




            $scope.aime = function(id){
                document.getElementById("ChargeAppr").style.display="block";
                document.getElementById("appr").style.display="none";

                $scope.loading = true;
                $http.post(Routing.generate('Addappreciation', { id: id , type: "recette" }))
                        .then(function(response) {
                            //console.log(response.data);
                        }).then(function(response) {
                            $scope.getAppr();
                    $scope.getThisAppreciation();


                });

            };

            $scope.aimepas = function(id){
                document.getElementById("ChargeAppr").style.display="block";
                document.getElementById("appr").style.display="none";
                $scope.loading = true;
                $http.post(Routing.generate('deleteappreciation', { id: id , type: "recette" }))
                        .then(function(response) {
                            //console.log(response.data);
                        }).then(function(response) {
                            $scope.getAppr();
                    $scope.getThisAppreciation();

                        });

            };



            /*<span id="ChargeAppr" style=" display: block">
                    <h4>Spinner Chargement En cours...</h4>
            </span>
            <span id="appr" style=" display: none">*/


            $scope.getAppr = function(){

                document.getElementById("ChargeAppr").style.display="block";
                document.getElementById("appr").style.display="none";


                $http.post(Routing.generate('Getappreciation', { id: {{ recette.id }} , type: "recette" }))
                        .then(function(response) {

                            document.getElementById("ChargeAppr").style.display="none";
                            document.getElementById("appr").style.display="block";
                            $scope.recetteLiked=response.data.aime;
                            $scope.recetteNotLiked=response.data.aimepas;
                            $scope.nbraimespas=response.data.nbraimespas;
                            $scope.nbraimes=response.data.nbraimes;

                            /*
                            console.log('---------------');
                            console.log("aime pas: "+$scope.nbraimespas);
                            console.log("aimes: "+$scope.nbraimes);
                            console.log('---------------')*/


                            if($scope.recetteLiked==1){
                                $scope.shownAime=$scope.img;
                            }
                            if($scope.recetteLiked==0){
                                $scope.shownAime=$scope.img2;
                            }


                            if($scope.recetteNotLiked==0){
                                $scope.shownAimePas=$scope.img1AimePas;
                            }
                            if($scope.recetteNotLiked==1){
                                $scope.shownAimePas=$scope.img2AimePas;
                            }



                        });

            };


            $scope.getAppr();





        });





    </script>
    <script src="{{ asset('js/dropzone.js') }}"></script>

    <script>
        Dropzone.autoDiscover = false;
        if ($('#carte').length)
        {
            $("div#carte").dropzone
            (
                    {

                        url: document.URL,
                        addRemoveLinks: true,
                        dictRemoveFile:'Supprimer',
                        init:function()
                        {
                            t = this;//drop zone
                            //var
                            $.post(document.URL,{do:'get'},function(data){

                                for(i in data.mocks)
                                {
                                    //formater les fichier eli jeyin
                                    m = {name:data.mocks[i].name,size:data.mocks[i].size,type:data.mocks[i].type,serverId:data.mocks[i].serverId}
                                    t.emit("addedfile", m);
                                    t.emit("thumbnail",m, data.mocks[i].url);//ajouter a dropzone
                                }

                            })
                        },
                        removedfile:function(file)
                        {
                            if(file.hasOwnProperty('serverId'))
                            {
                                //method te5ou id  w tafsa5 c tt w lo5ra upload jsute nbadlou el url
                                $.post(document.URL,{do:'delete',id:file.serverId},function(data){
                                    if(data.ok)
                                    {
                                        file.previewElement.remove();
                                    }
                                })
                            }

                        },
                        success: function(file, response){
                            if(response.ok)
                            {
                                file.previewElement.classList.add("dz-success");
                                $msg = '<div class="alert alert-dismissable alert-success">'+
                                        '<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>'+
                                        '<strong>Success: </strong> '+response.msg+
                                        '</div>';
                                file.serverId = response.serverId;//bech ki tenzel supprimer fi dropzone ya3ref el id
                            }
                            else
                            {
                                file.previewElement.classList.add("dz-error");
                                $msg = '<div class="alert alert-dismissable alert-danger">'+
                                        '<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>'+
                                        '<strong>Success: </strong> '+response.msg+
                                        '</div>';
                            }
                            $("#msg").html($msg);
                        },
                        error: function(file,reponse)
                        {
                            $msg = '<div class="alert alert-dismissable alert-danger">'+
                                    '<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>'+
                                    '<strong>Success: </strong> Erreur serveur!! '+
                                    '</div>';
                            $("#msg").html($msg);
                        }
                    }
            );
        }
    </script>


{% endblock %}